# Redis Config
REDIS_PORT=6379
REDIS_USER=pixora
REDIS_PASS=change_me

# Postgres Config
POSTGRES_DB=pixora
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASS=change_me

# MySQL Config
MYSQL_PORT=3306
MYSQL_DB=mysql_db
MYSQL_PASS=change_me

# MongoDB Config
MONGO_PORT=27017
MONGO_USER=root
MONGO_DB=mongo_db
MONGO_PASS=change_me

# RabbitMQ Config
RABBITMQ_VHOST=/
RABBITMQ_PORT=5672
RABBITMQ_USER=pixora
RABBITMQ_PASS=change_me
RABBITMQ_MANAGEMENT_PORT=15672

# Adminer Config
ADMINER_PORT=8080

# Data Storage Path
DATA_PATH=./data
