PROJECT_NAME=project_name
# Database Configuration
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_PORT=5432
# Valkey Configuration
VALKEY_PORT=6379
VALKEY_PASSWORD=redis_password
# RabbitMQ Configuration
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=rabbitmq_password
RABBITMQ_VHOST=/
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
# Data Storage Path
DATA_PATH=./data